# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Ambiente
.venv/
venv/

# Notebooks
.ipynb_checkpoints/

# Dados e saídas (pesados demais para o git)
src/data/datasets/*
outputs/
*.pth
*.pt
*.ckpt
/.vscode

# Sistema
.DS_Store
.modality_cache.json
